.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px;
    justify-content: space-between;
}

.menu__header {
    align-self: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    justify-content: center;
    margin-left: 30px;
    font-size: 18px;
    line-height: 21.13px;
    text-transform: lowercase;
    list-style: circle;
}

.menu-item:first-child {
    list-style: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: block;
    max-width: 230px;
    margin-right: 33px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
    justify-self: end;
}

.address__list {
    list-style: none;
}

.cover {
    position: relative;
    padding: 165px 50px 52px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-size: 100px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.text__center {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.text__right {
    text-align: right;
    display: block;
    margin-top: 2px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}

.description__text {
    align-content: center;
    margin-left: 30px;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.button {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    padding: 12px 32px;
    text-align: center;
    text-transform: uppercase;
}


.lots {
    margin: 180px 24px 110px 24px;
}

.lots__heading {
    margin-left: 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 334px;
    height: 100%;
    padding: 55px 40px 45px 40px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.card-link {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline #FFF;
    text-transform: uppercase;
}

.card__text {
    position: relative;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-decoration: none;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: 311px 1fr;
    margin: 0 24px 94px 24px;
    padding-top: 35px;
    padding-left: 47px;
}

.about__column {
    align-self: flex-start;
}


.background-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    border-radius: 50%;
    background-color: black;
}

.logo-about {
    width: 148px;
    height: 114px;
}

.about__title {
    margin: 136px 0 100px 0;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    margin: 183px 50px 88px 50px;
}

.footer__address {
    display: block;
    max-width: 240px;
    margin-right: 20px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-transform: lowercase;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}